<nav class="navbar-full">
  <div class="navbar-content">
    <img src="static/images/logo.png" alt="HoopTutor site logo." />
    <h1>HoopTutor</h1>
    <ul class="topnav">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="shooting.html">Shooting</a></li>
      <li><a href="ball-handling.html">Ball-handling</a></li>
      <li><a href="defense.html">Defense</a></li>
      <li><a href="fitness.html">Fitness</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="resources.html">Resources</a></li>
    </ul>
  </div>
</nav>
